h6 {
    position: absolute;
    right: 5vw;
    top: 10%;
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover
{
   text-decoration: none;
    color: black;
    
}
body
{
    padding: 0px;
    margin: 0px;
    background: url(home.jpg)center center fixed no-repeat ;
    background-size: cover;
}
div#back
{
    background-color: rgba(255, 255, 255, 0.8);
    position:absolute;
    left:2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
    border-radius: 50px;
}

#list
{
    float: left;
    border-style: solid;
    border-color: rgb(214, 213, 213);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

table
{      
    border: 2px rgb(214, 213, 213) solid;                  
    margin: auto;
    margin-top: 10px;
    width: 75%;
    border-radius: 15px;
    border-spacing: 0;    
    background-color: rgb(255, 255, 255);  
     
    
}
th  
{
    width: 300px;   
       
}
ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

@media (max-width:768px)
{
    .menu
    { 
        display: none; 
        position: absolute;
        z-index: 9999;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    .hamburger{ display: block; }
    .menu.menu-active{ display: block; }
    .hamburger
    {
        width: 25px;
        height: 20px;
        margin-left: 10px;
        padding-top: 2px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        background-color:#e2e2e2 ;
        border-radius: 5px;
        border:2px rgb(214, 213, 213) solid;
    }
    .line
    {
        height: 4px;
        background-color: #f2f2f2;
        margin: 2px ;
        border-radius: 5px;
    }
    .menu ul
    {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .menu ul li
    {
        margin: 15px 0;
    }
    .menu ul li a
    {
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
}
