h6 {
    position: absolute;
    right: 5vw;
    top: 10%;
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover
{
    text-decoration: underline;
    color: blue;
    
}
body
{
    padding: 0px;
    margin: 0px;
    background: url(home.jpg)center center fixed no-repeat ;
    background-size: cover;
}
div#back
{
    background: white;
    position:absolute;
    left:2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
    border: 2px black solid;
     
}
div#list
{
    float: left;
}
