#logout{
    position: absolute;
    right: 5vw;
    top: 85px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover 
{
   text-decoration: none;
    color: black;
    
}
body
{
    padding: 0px;
    margin: 0px;
    background: url(home.jpg)center center fixed no-repeat ;
    background-size: cover;
}
div#back
{
    background-color: rgba(255, 255, 255, 0.8);
    position:absolute;
    left:2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
    border-radius: 50px;
}

#list
{
    float: left;
    border:5px rgb(232, 232, 232) solid;
    border-radius: 10px;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
#list li 
{
    border-bottom: 3px rgb(232, 232, 232) solid;
}
#list li:last-child 
{
    border-bottom: none;
}
#new
{
    margin-left: 6%;
}
li
{
    padding: 10px;
    width: 100px;
}
table
{      
    border: 2px rgb(214, 213, 213) solid;                  
    margin: auto;
    margin-top: 10px;
    width: 75%;
    border-radius: 15px;
    border-spacing: 0;    
    background-color: rgb(255, 255, 255);  
     
    
}
th  
{
    width: 300px;   
       
}
ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.desktop
{
    display: block;
}
.mobile
{
    display: none;
}
.login
{
    border: 3px rgb(214, 213, 213) solid;
    margin-left: 35vw; 
    padding-bottom: 2vw;
    margin-right: 35vw;
    background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width:768px)
{
    .menu
    { 
        display: none; 
        position: absolute;
        z-index: 9999;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    .hamburger{ display: flex; }
    .menu.menu-active{ display: block; }
    h6{display: none;}
    .hamburger
    {
        width: 25px;
        height: 20px;
        margin-left: 10px;
        padding-top: 2px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        background-color:#e2e2e2 ;
        border-radius: 5px;
        border:2px rgb(214, 213, 213) solid;
    }
    .line
    {
        height: 4px;
        background-color: #f2f2f2;
        margin: 2px ;
        border-radius: 5px;
    }

    .menu ul
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
        height: 100px;
        
    }
    .menu ul li
    {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 3px rgb(232, 232, 232) solid;
        box-sizing: border-box;
    }
    .menu ul li:last-child
    {
        border-bottom: none;
    }
    .menu ul li a
    {
        display: block;
        width: 100%;
        text-decoration: none;
        color: black;
        font-size: 8px;
        box-sizing: border-box;
        padding: 3px;
        
    }
    .container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .login
    {
        width: 50vh;
        padding: 10px;
        
    }
    input[type="radio"]
    {
        transform: scale(1.5);
    }
    .search
    {
        height: 10px;
        width: 50px;
        box-sizing: border-box;
        padding: 5px 0;
    }
    .desktop
    {
        display: none;
    }
    .mobile
    {
        display: block;
        color: black;
       
    }
    #list
    {
        border: 5px rgb(232, 232, 232) solid;
        width: 100px;
        height: 80px;
        overflow: auto;
    }
    
    .menu1::after 
    {
        content: "";
        display: table;
        clear: both;
    }
    .identify
    {
        font-size: 15px;
        gap: 0px;
    }
    .front
    {
        font-size: 15px;
        padding-right: 15px;
    }
    #new
    { 
        display: inline-block;
        padding: 0;
        margin-left: 50px;
        width: 70px;
        font-size: 8px;
    }
    #back
    {
        margin: 50% 0 ;
    }
    .in
    {
        width: 35px;
        height: 5px;
        
    }
    .detail
    {
        margin-bottom: 5px;
        font-size: 15px;
    }
    .info
    {
        width: 50px;
        height: 10px;
    }
    .bt
    {
        font-size: 10px;
    }
    h1
    {
        
        font-size: 20px;
    }
    h2
    {
        font-size: 15px;
    }
    .aler
    {
        font-size: 10px;
        padding-left: 10%;
    }
    th
    {
        font-size: 8px ;
    }
    input
    {
        height: 5px;
        width: 30px;
        font-size: 5px;
    }
    label
    {
        font-size: 8px;
        
    }
    button
    {
        height: 15px;
        width: 30px;
        padding: 0px;
        font-size: 8px;
    }
}
